heat_template_version: queens

description: >
  Contrail containerized Config Webui service

parameters:
  DockerContrailWebuiWebImageName:
    description: image
    type: string
    default: "contrail-controller-webui-web"
  DockerContrailWebuiJobImageName:
    description: image
    type: string
    default: "contrail-controller-webui-job"
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DefaultPasswords:
    default: {}
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json

  # internal params
  contrail_nodes_param_suffux:
    type: string
    default: "node_ips"
    description: suffix for reading hiera data, node_ips or node_names

resources:
  ContainersCommon:
    type: ../containers-common.yaml

  ContrailBase:
    type: contrail-base.yaml
    properties:
      EndpointMap: {get_param: EndpointMap}
      ServiceData: {get_param: ServiceData}
      ServiceNetMap: {get_param: ServiceNetMap}
      DefaultPasswords: {get_param: DefaultPasswords}
      RoleName: {get_param: RoleName}
      RoleParameters: {get_param: RoleParameters}

  ContrailRedis:
    type: contrail-redis.yaml

outputs:
  role_data:
    description: Role data for the Contrail Webui service.
    value:
      service_name: contrail_webui
      config_settings:
        map_merge:
          - get_attr: [ContrailBase, role_data, config_settings]
          - get_attr: [ContrailRedis, role_data, config_settings]
          - tripleo.contrail_webui.firewall_rules:
              '116 contrail_webui':
                dport:
                  list_concat:
                    - - 3000
                      - 3002
                      - 8143
                      - 8180
                    - {get_attr: [ContrailRedis, role_data, contrail_redis_ports]}
      service_config_settings:
        map_merge:
          - {get_attr: [ContrailBase, role_data, service_config_settings]}
          - haproxy:
              tripleo.contrail_webui.haproxy_endpoints:
                contrail_webui:
                  map_merge:
                    - public_ssl_port: 8143
                      internal_ip: "%{hiera('contrail_webui_vip')}"
                      service_port: 8143
                      service_network: {get_param: [ServiceNetMap, ContrailWebuiNetwork]}
                    - {get_attr: [ContrailBase, role_data, haproxy_config_settings_tls]}
      contrail_env_file: &contrail_env_file
        "/etc/contrail/common_webui.env"
      docker_config:
        step_2:
          get_attr: [ContrailBase, role_data, docker_config, step_2]
        step_4:
          get_attr: [ContrailRedis, role_data, docker_config, step_4]
        step_5:
          contrail_webui_web:
            image: &contrail_webui_web_image
              list_join:
                - ''
                - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                  - '/'
                  - {get_param: DockerContrailWebuiWebImageName}
                  - ':'
                  - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            net: host
            privileged: false
            detach: true
            user: root
            restart: always
            volumes:
              get_attr: [ContrailBase, role_data, contrail_base_volumes]
            environment:
              get_attr: [ContrailBase, role_data, contrail_base_auth_internal_env]
            env_file:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                - - *contrail_env_file
          contrail_webui_job:
            image: &contrail_webui_job_image
              list_join:
                - ''
                - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                  - '/'
                  - {get_param: DockerContrailWebuiJobImageName}
                  - ':'
                  - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            net: host
            privileged: false
            detach: true
            user: root
            restart: always
            volumes:
              get_attr: [ContrailBase, role_data, contrail_base_volumes]
            environment:
              get_attr: [ContrailBase, role_data, contrail_base_auth_internal_env]
            env_file:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                - - *contrail_env_file
      host_prep_tasks:
        list_concat:
          - {get_attr: [ContrailBase, role_data, contrail_host_prep_tasks_base]}
          - - name: register contrail env file
              stat:
                path: *contrail_env_file
              register: p
            - name: create contrail env file
              copy:
                dest: *contrail_env_file
                content: ""
              when: not p.stat.exists
            - name: node ips (names) param name
              set_fact:
                contrail_nodes_param_name: {list_join: ["_", ["contrail_webui", {get_param: contrail_nodes_param_suffux}]]}
            - name: get contrail webui node ips
              shell: "hiera -c /etc/puppet/hiera.yaml {{ contrail_nodes_param_name }}"
              register: contrail_webui_nodes_list
            - name: turn contrail webui ips into string
              set_fact:
                contrail_webui_nodes_string: "{{ contrail_webui_nodes_list.stdout | from_json | join(',') }}"
            - name: write contrail webui node ips to environment file
              lineinfile:
                dest: *contrail_env_file
                state: present
                regexp: '^WEBUI_NODES.*'
                line: "WEBUI_NODES={{ contrail_webui_nodes_string }}"

      metadata_settings:
        get_attr: [ContrailBase, role_data, metadata_settings]

      fast_forward_upgrade_tasks:
        - name: Stop {{ item }} service
          service: name={{ item }} state=stopped enabled=no
          when:
            - step|int == 1
            - release == 'ocata'
          with_items:
            - supervisor-webui
            - redis
