heat_template_version: queens

description: >
  OpenStack containerized Contrail Heat Plugin configured with Puppet

parameters:
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DockerHeatApiConfigImage:
    description: The container image to use for the heat config_volume
    type: string
  DockerContrailHeatPluginImageName:
    description: The container image to use for the contrail neutron plugin
    type: string
    default: "contrail-openstack-heat-init"
  DefaultPasswords:
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json

resources:

  ContainersCommon:
    type: ../containers-common.yaml

  ContrailBase:
    type: contrail-base.yaml
    properties:
      EndpointMap: {get_param: EndpointMap}
      ServiceData: {get_param: ServiceData}
      ServiceNetMap: {get_param: ServiceNetMap}
      DefaultPasswords: {get_param: DefaultPasswords}
      RoleName: {get_param: RoleName}
      RoleParameters: {get_param: RoleParameters}

outputs:
  role_data:
    description: Role data for the Contrail Heat Plugin role.
    value:
      service_name: contrail_heat_plugin
      config_settings:
        map_merge:
          - get_attr: [ContrailBase, role_data, config_settings]
      # BEGIN DOCKER SETTINGS
      puppet_config:
        config_volume: heat_api
        puppet_tags: heat_plugin_opencontrail,ini_setting,create_ini_settings,inifile,heat_config,file,concat,file_line
        step_config:
          include ::tripleo::network::contrail::heat
        config_image: {get_param: DockerHeatApiConfigImage}
      kolla_config: {}
      docker_config:
        step_3:
          contrail_heat_plugin:
            image: &contrail_heat_plugin_image
              list_join:
              - ''
              - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                - '/'
                - {get_param: DockerContrailHeatPluginImageName}
                - ':'
                - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            volumes:
              - vnc_api:/opt/plugin/site-packages/vnc_api
              - cfgm_common:/opt/plugin/site-packages/cfgm_common
