heat_template_version: queens

description: >
  Contrail containerized Config Databse service

parameters:
  ContrailAnalyticsDBMinDiskGB:
    description:  The min size for Contrail Analytics DB.
                  It is to check the size of the node.
                  Contrail will fail installation if disk size is not enough.
    type: string
    default: ''
  ContrailAnalyticsDBPath:
    description:  The path to cassandra database directory. Default
                  will be /var/lib/docker/volumes/analytics_cassandra_data/_data.
    type: string
    default: 'analytics_cassandra_data'
  ContrailAnalyticsCommitlogPath:
    description:  The path to cassandra commitlog directory. Default
                  will be /var/lib/docker/volumes/analytics_cassandra_commitlog/_data.
    type: string
    default: 'analytics_cassandra_commitlog'
  DockerContrailCassandraImageName:
    description: image
    type: string
    default: "contrail-external-cassandra"
  DockerContrailKafkaImageName:
    description: image
    type: string
    default: "contrail-external-kafka"
  DockerContrailZookeeperImageName:
    description: image
    type: string
    default: "contrail-external-zookeeper"
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DefaultPasswords:
    default: {}
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json

conditions:
  contrail_analyticsdb_min_disk_gb_unset: {equals : [{get_param: ContrailAnalyticsDBMinDiskGB}, '']}

resources:
  ContainersCommon:
    type: ../containers-common.yaml

  ContrailBase:
    type: contrail-base.yaml
    properties:
      EndpointMap: {get_param: EndpointMap}
      ServiceData: {get_param: ServiceData}
      ServiceNetMap: {get_param: ServiceNetMap}
      DefaultPasswords: {get_param: DefaultPasswords}
      RoleName: {get_param: RoleName}
      RoleParameters: {get_param: RoleParameters}

outputs:
  role_data:
    description: Role data for the Contrail Analytics Database service.
    value:
      service_name: contrail_analytics_database
      config_settings:
        map_merge:
          - get_attr: [ContrailBase, role_data, config_settings]
      service_config_settings: {get_attr: [ContrailBase, role_data, service_config_settings]}
      docker_config:
        step_2:
          get_attr: [ContrailBase, role_data, docker_config, step_2]
        step_3:
          contrail_analytics_zookeeper:
            image: &contrail_analytics_zookeeper_image
              list_join:
                - ''
                - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                  - '/'
                  - {get_param: DockerContrailZookeeperImageName}
                  - ':'
                  - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            net: host
            privileged: false
            detach: true
            user: root
            restart: always
            volumes:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_volumes]}
                - - analytics_zookeeper:/data
                  - analytics_zookeeper:/datalog
            environment:
              - "NODE_TYPE=database"
            env_file:
              - /etc/contrail/common_analytics_database.env
        step_4:
          contrail_analytics_database_nodemgr:
            image: {get_attr: [ContrailBase, role_data, contrail_nodemgr_image_name]}
            environment:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_env]}
                - if:
                  - contrail_analyticsdb_min_disk_gb_unset
                  - []
                  - - list_join:
                      - ''
                      - - 'DATABASE_NODEMGR__DEFAULTS__minimum_diskGB='
                        - {get_param: ContrailAnalyticsDBMinDiskGB}
                - - NODE_TYPE=database
                  - CASSANDRA_CQL_PORT=9042
                  - CASSANDRA_JMX_LOCAL_PORT=7200
            net: host
            detach: true
            user: root
            restart: always
            volumes:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_volumes]}
                - - /var/run/docker.sock:/var/run/docker.sock
            env_file:
              - /etc/contrail/common_analytics_database.env
          contrail_analytics_database:
            image: &contrail_analytics_database_image
              list_join:
                - ''
                - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                  - '/'
                  - {get_param: DockerContrailCassandraImageName}
                  - ':'
                  - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            net: host
            privileged: false
            detach: true
            user: root
            restart: always
            volumes:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_volumes]}
                - - list_join:
                      - ':'
                      - - {get_param: ContrailAnalyticsDBPath}
                        - '/var/lib/cassandra/data'
                  - list_join:
                      - ':'
                      - - {get_param: ContrailAnalyticsCommitlogPath}
                        - '/var/lib/cassandra/commitlog'
            environment:
              - "NODE_TYPE=database"
            env_file:
              - /etc/contrail/common_analytics_database.env
          contrail_analytics_kafka:
            image: &contrail_analytics_kafka_image
              list_join:
                - ''
                - - {get_attr: [ContrailBase, role_data, contrail_registry]}
                  - '/'
                  - {get_param: DockerContrailKafkaImageName}
                  - ':'
                  - {get_attr: [ContrailBase, role_data, contrail_imagetag]}
            net: host
            privileged: false
            detach: true
            user: root
            restart: always
            volumes:
              get_attr: [ContrailBase, role_data, contrail_base_volumes]
            environment:
              - "NODE_TYPE=database"
            env_file:
              - /etc/contrail/common_analytics_database.env
      host_prep_tasks:
        - name: create contrail directories
          file:
            path: "{{ item }}"
            state: directory
            recurse: yes
          with_items:
            - /var/log/containers/contrail
            - /etc/contrail/ssl
        - name: register /etc/contrail/common_analytics_database.env
          stat:
            path: /etc/contrail/common_analytics_database.env
          register: p
        - name: create /etc/contrail/common_analytics_database.env
          copy:
            dest: /etc/contrail/common_analytics_database.env
            content: ""
          when: not p.stat.exists
        - name: get contrail config node ips
          shell: hiera -c /etc/puppet/hiera.yaml contrail_config_node_ips
          register: contrail_config_node_ips_list
        - name: turn contrail config ips into json
          set_fact:
            contrail_config_node_ips_json: "{{ contrail_config_node_ips_list.stdout | from_json }}"
        - name: turn json into comma separated string
          set_fact:
            contrail_config_node_ips_string: "{{ contrail_config_node_ips_json | join(',') }}"
        - name: get contrail analytics database node ips
          shell: hiera -c /etc/puppet/hiera.yaml contrail_analytics_database_node_ips
          register: contrail_analytics_database_node_ips_list
        - name: turn contrail analytics database ips into json
          set_fact:
            contrail_analytics_database_node_ips_json: "{{ contrail_analytics_database_node_ips_list.stdout | from_json }}"
        - name: turn json into comma separated string
          set_fact:
            contrail_analytics_database_node_ips_string: "{{ contrail_analytics_database_node_ips_json | join(',') }}"
        - name: get contrail analytics node ips
          shell: hiera -c /etc/puppet/hiera.yaml contrail_analytics_node_ips
          register: contrail_analytics_node_ips_list
        - name: turn contrail analytics ips into json
          set_fact:
            contrail_analytics_node_ips_json: "{{ contrail_analytics_node_ips_list.stdout | from_json }}"
        - name: turn json into comma separated string
          set_fact:
            contrail_analytics_node_ips_string: "{{ contrail_analytics_node_ips_json | join(',') }}"
        - name: write contrail config node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^CONFIG_NODES.*' line="CONFIG_NODES={{ contrail_config_node_ips_string }}" state=present
        - name: write contrail analytics db node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^CASSANDRA_SEEDS.*' line="CASSANDRA_SEEDS={{ contrail_analytics_database_node_ips_string }}" state=present
        - name: write contrail analytics zk node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^ZOOKEEPER_NODES.*' line="ZOOKEEPER_NODES={{ contrail_analytics_database_node_ips_string }}" state=present
        - name: write contrail analytics zk node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^ZOOKEEPER_ANALYTICS_NODES.*' line="ZOOKEEPER_ANALYTICS_NODES={{ contrail_analytics_database_node_ips_string }}" state=present
        - name: write contrail config Kafka node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^KAFKA_NODES.*' line="KAFKA_NODES={{ contrail_analytics_database_node_ips_string }}" state=present
        - name: write contrail analytics node ips to environment file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp='^ANALYTICS_NODES.*' line="ANALYTICS_NODES={{ contrail_analytics_node_ips_string }}" state=present
        - name: write remaining contrail config env cars
          lineinfile: dest=/etc/contrail/common_analytics_database.env line="{{ item }}" state=present
          with_items:
            - CASSANDRA_START_RPC=true
            - CASSANDRA_CLUSTER_NAME=contrail_analytics
            - CASSANDRA_PORT=9160
            - CASSANDRA_CQL_PORT=9042
            - CASSANDRA_SSL_STORAGE_PORT=7011
            - CASSANDRA_STORAGE_PORT=7010
            - CASSANDRA_JMX_LOCAL_PORT=7200
            - ZOOKEEPER_PORTS=4888:5888
            - ZOOKEEPER_PORT=2182
        - name: get service_config
          set_fact:
            service_configs: "{{ lookup('file', '/etc/puppet/hieradata/service_configs.json') | from_json }}"
        - name: get contrail_settings
          set_fact:
            contrail_settings: "{{ service_configs.contrail_settings }}"
          when: service_configs is defined
        - name: write contrail settings to file
          lineinfile: dest=/etc/contrail/common_analytics_database.env regexp="^{{ item.key }}.*" line="{{ item.key }}={{ item.value }}" state=present
          with_dict: "{{ contrail_settings }}"
          when: contrail_settings is defined

      metadata_settings:
        get_attr: [ContrailBase, role_data, metadata_settings]
