heat_template_version: queens

description: >
  Contrail redis common service

parameters:
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DefaultPasswords:
    default: {}
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json
  ContrailRegistry:
    default: 'opencontrailnightly'
    description: Contrail Registry
    type: string
  ContrailImageTag:
    default: 'latest'
    description: Contrail container image tag
    type: string
  DockerContrailRedisImageName:
    description: image
    type: string
    default: "contrail-external-redis"
  ContrailRedisPort:
    default: 6379
    description: Contrail Redis port
    type: number
  env_file_name:
    type: string
    default: ""

conditions:
  env_file_unset: {equals : [{get_param: env_file_name}, '']}

resources:
  DockerContrailRedisImageNormalize:
    type: ../../../tools/contrail/contrail-image-normalize.yaml
    properties:
      GenericImageName: {get_param: DockerContrailRedisImageName}

  ContrailBase:
    type: contrail-base.yaml
    properties:
      EndpointMap: {get_param: EndpointMap}
      ServiceData: {get_param: ServiceData}
      ServiceNetMap: {get_param: ServiceNetMap}
      DefaultPasswords: {get_param: DefaultPasswords}
      RoleName: {get_param: RoleName}
      RoleParameters: {get_param: RoleParameters}

outputs:
  role_data:
    description: Role data for the Contrail Redis common part.
    value:
      service_name: contrail_redis
      contrail_redis_image_name: &contrail_redis_image_name {get_attr: [DockerContrailRedisImageNormalize, contrail_image]}
      contrail_redis_ports:
        - {get_param: ContrailRedisPort}
      docker_config:
        step_4:
          contrail_redis:
            map_merge:
              - image: *contrail_redis_image_name
                net: host
                privileged: false
                detach: true
                user: root
                restart: always
                environment:
                  get_attr: [ContrailBase, role_data, contrail_base_env]
              - if:
                - env_file_unset
                - env_file:
                    get_attr: [ContrailBase, role_data, contrail_base_env_file]
                - env_file:
                    list_concat:
                      - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                      - - {get_param: env_file_name}
