heat_template_version: queens

description: >
  Contrail redis common service

parameters:
  ContrailRegistry:
    default: 'opencontrailnightly'
    description: Contrail Registry
    type: string
  ContrailImageTag:
    default: 'latest'
    description: Contrail container image tag
    type: string
  DockerContrailRedisImageName:
    description: image
    type: string
    default: "docker.io/redis"
  env_file_name:
    type: string
    default: ""

conditions:
  env_file_unset: {equals : [{get_param: env_file_name}, '']}

resources:
  ContrailBase:
    type: contrail-base.yaml

outputs:
  role_data:
    description: Role data for the Contrail Redis common part.
    value:
      service_name: contrail_redis
      contrail_redis_image_name: &contrail_redis_image_name
        list_join:
          - ''
          - - {get_param: ContrailRegistry}
            - '/'
            - {get_param: DockerContrailRedisImageName}
            - ':'
            - {get_param: ContrailImageTag}
      docker_config:
        step_4:
          contrail_redis:
            map_merge:
              - image: *contrail_redis_image_name
                net: host
                privileged: false
                detach: true
                user: root
                restart: always
                environment:
                  - 'NODE_TYPE=redis'
              - if:
                - env_file_unset
                - {}
                - env_file: {get_param: env_file_name}
