heat_template_version: queens

description: >
  Contrail containerized Vrouter service

parameters:
  ContrailImageTag:
    default: 'latest'
    description: Contrail container image tag
    type: string
  DockerContrailVrouterAgentImageName:
    description: image
    type: string
    default: "contrail-vrouter-agent"
  DockerContrailNovaPluginImageName:
    description: image
    type: string
    default: "contrail-openstack-compute-init"
  NeutronMetadataProxySharedSecret:
    description: Metadata Secret
    type: string
    hidden: true
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DefaultPasswords:
    default: {}
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json

conditions:
  is_more_than_2001_or_latest:
    or:
      - yaql:
          expression: $.data.matches(".*dev.*")
          data: {get_param: ContrailImageTag}
      - yaql:
          expression: $.data.matches(".*latest.*")
          data: {get_param: ContrailImageTag}
      - yaql:
          expression: $.data.matches(".*master.*")
          data: {get_param: ContrailImageTag}
      - not:
          yaql:
            expression: $.data.split(".").select($.split("-")).flatten().where($.matches("^[0-9]{4,}$")).where(int($) < 2001).any()
            data: {get_param: ContrailImageTag}

resources:
  DockerContrailVrouterAgentImageNormalize:
    type: ../../../tools/contrail/contrail-image-normalize.yaml
    properties:
      GenericImageName: {get_param: DockerContrailVrouterAgentImageName}

  DockerContrailNovaPluginImageNormalize:
    type: ../../../tools/contrail/contrail-image-normalize.yaml
    properties:
      GenericImageName: {get_param: DockerContrailNovaPluginImageName}

  ContrailBase:
    type: contrail-base.yaml
    properties:
      EndpointMap: {get_param: EndpointMap}
      ServiceData: {get_param: ServiceData}
      ServiceNetMap: {get_param: ServiceNetMap}
      DefaultPasswords: {get_param: DefaultPasswords}
      RoleName: {get_param: RoleName}
      RoleParameters: {get_param: RoleParameters}
      contrail_env_name: 'vrouter'

  ContrailVrouterBase:
    type: contrail-vrouter-base.yaml
    properties:
      ContrailVrouterAgentMode: 'dpdk'

outputs:
  role_data:
    description: Role data for the Contrail Vrouter Dpdk service.
    value:
      service_name: contrail_vrouter_dpdk
      config_settings:
        map_merge:
          - get_attr: [ContrailBase, role_data, config_settings]
          - contrail::vrouter::metadata_proxy_shared_secret: {get_param: NeutronMetadataProxySharedSecret}
            tripleo.contrail_vrouter_dpdk.firewall_rules:
              '111 contrail_vrouter_dpdk_8085_8097':
                dport:
                  - 8085
                  - 8097
                  - 8102
                  - 9091
      contrail_env_file: &contrail_env_file
        get_attr: [ContrailVrouterBase, role_data, contrail_env_file]
      docker_config:
        step_2:
          get_attr: [ContrailBase, role_data, docker_config, step_2]
        step_3:
          contrail_nova_plugin:
            image: &contrail_nova_plugin_image {get_attr: [DockerContrailNovaPluginImageNormalize, contrail_image]}
            volumes:
              - vrouter_port_control:/opt/plugin/bin
              - nova_contrail_vif:/opt/plugin/site-packages/nova_contrail_vif
              - nova_contrail_vif_egg:/opt/plugin/site-packages/nova_contrail_vif-0.1-py2.7.egg-info
              - vif_plug_vrouter:/opt/plugin/site-packages/vif_plug_vrouter
              - vif_plug_contrail_vrouter:/opt/plugin/site-packages/vif_plug_contrail_vrouter
            environment:
              get_attr: [ContrailBase, role_data, contrail_base_env]
            env_file:
              list_concat:
                - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                - - *contrail_env_file
        step_5:
          map_merge:
            - if:
                - is_more_than_2001_or_latest
                - contrail_vrouter_agent_provisioner:
                    image: {get_attr: [ContrailBase, role_data, contrail_provisioner_image_name]}
                    net: host
                    detach: true
                    user: root
                    restart: always
                    volumes:
                      get_attr: [ContrailBase, role_data, contrail_base_volumes]
                    environment:
                      list_concat:
                        - {get_attr: [ContrailBase, role_data, contrail_base_env]}
                        - {get_attr: [ContrailBase, role_data, contrail_defaults_env]}
                    env_file:
                      list_concat:
                        - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                        - - *contrail_env_file
                - null
            - contrail_vrouter_agent_nodemgr:
                image: {get_attr: [ContrailBase, role_data, contrail_nodemgr_image_name]}
                net: host
                detach: true
                user: root
                restart: always
                volumes:
                  list_concat:
                    - {get_attr: [ContrailBase, role_data, contrail_base_volumes]}
                    - - /var/run/docker.sock:/var/run/docker.sock
                environment:
                  get_attr: [ContrailBase, role_data, contrail_base_env]
                env_file:
                  list_concat:
                    - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                    - - *contrail_env_file
              contrail_vrouter_agent:
                image: &contrail_vrouter_agent_image {get_attr: [DockerContrailVrouterAgentImageNormalize, contrail_image]}
                net: host
                privileged: true
                detach: true
                user: root
                restart: always
                volumes:
                  list_concat:
                    - {get_attr: [ContrailBase, role_data, contrail_base_volumes]}
                    - - /dev:/dev
                      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
                      - /lib/modules:/lib/modules
                      - /var/run:/var/run
                      - /var/lib/contrail:/var/lib/contrail
                environment:
                  get_attr: [ContrailBase, role_data, contrail_base_env]
                env_file:
                  list_concat:
                    - {get_attr: [ContrailBase, role_data, contrail_base_env_file]}
                    - - *contrail_env_file
      host_prep_tasks:
        list_concat:
          - {get_attr: [ContrailBase, role_data, contrail_host_prep_tasks_base]}
          - {get_attr: [ContrailVrouterBase, role_data, host_prep_tasks]}
          - {get_attr: [ContrailBase, role_data, contrail_config_volume_prep]}

      metadata_settings:
        get_attr: [ContrailBase, role_data, metadata_settings]

      update_tasks:
        list_concat:
          - {get_attr: [ContrailVrouterBase, role_data, update_tasks]}

      post_update_tasks:
        get_attr: [ContrailVrouterBase, role_data, post_update_tasks]

      fast_forward_upgrade_tasks:
        get_attr: [ContrailVrouterBase, role_data, fast_forward_upgrade_tasks]

      fast_forward_post_upgrade_tasks:
        get_attr: [ContrailVrouterBase, role_data, fast_forward_post_upgrade_tasks]

      upgrade_tasks:
        list_concat:
          - {get_attr: [ContrailBase, role_data, upgrade_tasks_common]}
          - {get_attr: [ContrailVrouterBase, role_data, upgrade_tasks]}

      post_upgrade_tasks:
        get_attr: [ContrailVrouterBase, role_data, post_upgrade_tasks]
