heat_template_version: queens

description: >
  Contrail Issu Scripts.

parameters:
  EndpointMap:
    default: {}
    description: Mapping of service endpoint -> protocol. Typically set
                 via parameter_defaults in the resource registry.
    type: json
  ServiceData:
    default: {}
    description: Dictionary packing service data
    type: json
  ServiceNetMap:
    default: {}
    description: Mapping of service_name -> network name. Typically set
                 via parameter_defaults in the resource registry.  This
                 mapping overrides those in ServiceNetMapDefaults.
    type: json
  DefaultPasswords:
    default: {}
    type: json
  RoleName:
    default: ''
    description: Role name on which the service is applied
    type: string
  RoleParameters:
    default: {}
    description: Parameters specific to the role
    type: json
  ContrailIssuSshUser:
    type: string
    default: ''
  ContrailRegistry:
    default: 'opencontrailnightly'
    description: Contrail Registry
    type: string
  ContrailIssuImageTag:
    default: 'latest'
    description: Contrail container image tag
    type: string

outputs:
  role_data:
    description: Role Contrail Controller Issu script
    value:
      service_name: contrail_issu_script
      config_settings:
        contrail_issu_ssh_user: {get_param: ContrailIssuSshUser}
        contrail_issu_host_ip:
          str_replace:
            template:
              "%{hiera('$NETWORK')}"
            params:
              $NETWORK: {get_param: [ServiceNetMap, ContrailIssuNetwork]}

        contrail_issu_container_registry: {get_param: ContrailRegistry}
        contrail_issu_container_tag: {get_param: ContrailIssuImageTag}
      step_config: |
        include ::tripleo::network::contrail::issu